.section:before {
  content: "";
  display: table;
}
.section:after {
  content: "";
  display: table;
  clear: both;
  zoom: 1;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes scaleIn {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@-webkit-keyframes scaleOut {
  0% {
    opacity: 0;
    transform: scale(1);
  }
  100% {
    opacity: 1;
    transform: scale(0);
  }
}
@-moz-keyframes scaleOut {
  0% {
    opacity: 0;
    transform: scale(1);
  }
  100% {
    opacity: 1;
    transform: scale(0);
  }
}
@-ms-keyframes scaleOut {
  0% {
    opacity: 0;
    transform: scale(1);
  }
  100% {
    opacity: 1;
    transform: scale(0);
  }
}
@keyframes scaleOut {
  0% {
    opacity: 0;
    transform: scale(1);
  }
  100% {
    opacity: 1;
    transform: scale(0);
  }
}
body {
  background: #F0F0F0;
}

#container {
  padding-top: 50px;
  margin-bottom: 100px;
}

.section {
  width: 1000px;
  margin: 0 auto;
}
.section .left-img {
  float: left;
  width: 477px;
  padding-top: 0px;
  overflow: hidden;
  text-align: center;
}
.section .left-img img {
  width: 100%;
}
.section .right-text {
  float: left;
  width: 450px;
  padding-top: 0px;
  margin-left: 55px;
}
.section .right-text h2 {
  color: #363636;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 1px;
  margin-bottom: 10px;
}
.section .right-text p {
  color: #959595;
  font-size: 16px;
  line-height: 28px;
  text-indent: 32px;
  margin-bottom: 23px;
}

.banner {
  height: 397px;
  background: url(../images/about/03.jpg);
  background-position: center center;
  background-size: cover;
  margin: 100px 0;
}

.character {
  width: 1000px;
  margin: 0 auto;
  text-align: center;
}
.character img {
  width: 700px;
}
