body {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

.btn {
  box-sizing: border-box;
  box-shadow: none;
  border: none;
  font: 2em/1 sans-serif;
  padding: 30px 100px;
  letter-spacing: 5px;
  color: white;
  border: solid 4px transparent;
  border-image: linear-gradient(45deg, pink, skyblue);
  border-image-slice: 1;
  background: linear-gradient(45deg, pink, skyblue);
  -webkit-background-clip: text;
  background-clip: text;
  text-fill-color: transparent;
}
