@charset "UTF-8";
header {
  text-align: center;
  background: #298595;
}

#navigation {
  display: none;
}

#logo, #demo {
  font-size: 85px;
  padding: 12px 0 0;
  font-family: cursive;
}
#logo h3, #demo h3 {
  display: inline-block;
}

#typo {
  margin: 0;
  padding: 0;
  font-weight: bold;
  font-size: 85px;
  padding: 12px 0 0;
  color: #fff;
  font-family: cursive;
  text-align: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

a {
  color: #FFF;
}

nav ul li {
  display: inline-block;
}
nav ul li a {
  display: block;
  font-size: 24px;
  font-family: "微軟正黑體";
  padding: 20px 35px;
}
nav ul li a:hover {
  opacity: 0.7;
}

footer {
  background: #267284;
  font-size: 0;
  font-family: sans-serif;
  min-width: 1024px;
}
footer .footerCont {
  display: block;
  width: 1010px;
  margin: 0 auto;
  padding: 70px 0;
}
footer .f_list {
  display: inline-block;
  font-size: 14px;
  vertical-align: top;
}
footer .f_list .title {
  padding-bottom: 6px;
  font-size: 18px;
  color: #FFF;
}
footer .f_list .title ~ li {
  margin-bottom: 6px;
}
footer .f_list ul li {
  list-style: none;
}
footer .f_list ul li a {
  text-decoration: none;
  color: #FFF;
}
footer .f_list ul li a:hover {
  color: #BCBCBC;
}
footer .f_list .fa-size {
  margin: 10px 5px;
  cursor: pointer;
  font-size: 20px;
}
footer .f_list ~ .f_list {
  margin-left: 60px;
}

.letter-btn {
  color: #EEE;
  background: #267284;
  transition: 0.5s;
}
.letter-btn:hover {
  color: #267284;
  background: #FFF;
}
